# HILglebone bblayers.conf template
#
# Copied into <build>/conf/bblayers.conf by oe-init-build-env when
# TEMPLATECONF points to this directory.
#
# The ##COREBASE## token is expanded by oe-init-build-env to the absolute
# path of poky at the moment the build directory is created. External layers
# (meta-ti, meta-arm, meta-hilglebone) are referenced relative to COREBASE
# based on the assumed repo layout:
#
#   <workspace>/
#   ├── poky/                   <-- COREBASE
#   ├── meta-arm/
#   ├── meta-ti/
#   └── HILglebone/
#       └── yocto/meta-hilglebone/
#
# If you keep your checkouts somewhere else, adjust the paths below.

# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##COREBASE##/meta \
  ##COREBASE##/meta-poky \
  ##COREBASE##/meta-yocto-bsp \
  ##COREBASE##/../meta-arm/meta-arm \
  ##COREBASE##/../meta-arm/meta-arm-toolchain \
  ##COREBASE##/../meta-ti/meta-ti-bsp \
  ##COREBASE##/../meta-ti/meta-beagle \
  ##COREBASE##/../HILglebone/yocto/meta-hilglebone \
  "
